.dashboard-container {
    display: flex;
    width: 100%;
    // height: calc(100vh - 80px);
    height: 100%;
    overflow: hidden;

    .dashboard-aside-menu {
        width: 300px;
        min-width: 300px;
        height: 100vh;
        overflow-y: auto;
        background-color: aqua;
    }

    .dashboard-main-content {
        padding: 50px;
        width: calc(100% - 300px);
        height: 100vh;
        overflow-y: auto;
    }
}
