header {
    width: 100vw;
    height: 80px;
    background-color: transparent;
    position: fixed;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(46, 7, 63, 0) 100%
    );

    color: white;

    .my-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        .header-container {
            max-width: 1400px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            // nav {
            // }
        }
    }
}
