header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    // Effetto
    background-color: rgba(0, 0, 0, 0.3);
    /* Gradiente per un effetto più sofisticato (opzionale) */
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 50%,
        /* Colore scuro con un po' di trasparenza */ rgba(46, 7, 63, 0) 100%
            /* Trasparente verso il fondo */
    );

    // border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* Bordo bianco sottile */

    .my-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .header-container {
            max-width: 1400px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            .left-header {
                display: flex;
                width: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 60px;
    }
}
